<!DOCTYPE html>
<div class="container text-center">
		<div class="row">
		<div class="col-sm-3 well">
			<div class="well" ng-model="name">
				<p><a href="#">{{name}}</a></p>
				<img src="images/profile-default.png" class="img-circle" height="65"
					width="65" alt="Avatar" />
			</div>
			<div class="well">
				<p><a href="#">Interests</a></p>
				<p><span class="label label-default">News</span> <span
						class="label label-primary">W3Schools</span> <span
						class="label label-success">Labels</span> <span
						class="label label-info">Football</span> <span
						class="label label-warning">Gaming</span> <span
						class="label label-danger">Friends</span></p>
			</div>
			<div class="alert alert-success fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
				<p><strong>Ey!</strong></p>
				People are looking at your profile. Find out who.
			</div>
			<p><a href="https://twitter.com/hashtag/GRAMMYs?src=tren&data_id=tweet%3A830961658944176129">#GRAMMYs</a></p>
			<p><a href="https://twitter.com/hashtag/WorldRadioDay?src=tren">#WorldRadioDay</a></p>
			<p><a href="#">#ELifeExperience</a></p>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default text-left">
						<div class="panel-body">
							<input ng-model="message" placeholder=" Howdy ... " type="text" size="75"/>
							<button type="button" class="btn btn-default btn-sm" ng-click="postTweet()">
								Post
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- <p>{{$route.current.scope.name}}</p> -->
			<div class="row" ng-repeat="tweet in tweets">
				<div class="col-sm-3">
					<div class="well">
						<p>{{tweet.tweeter.name}}</p>
						<img src="images/profile-default.png" class="img-circle"
							height="55" width="55" alt="Avatar" />
					</div>
				</div>
				<div class="col-sm-9">
					<div class="well">
						<p>{{tweet.message}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 well">
		<div class="thumbnail">
			<p>Upcoming Events:</p>
			<img src="images/java-conf.png" alt="Paris" width="400" height="300"/>
			<p><strong>San Francisco</strong></p>
			<p>Sun. 1 October 2017</p>
			<a href="https://www.oracle.com/javaone/index.html" class="btn btn-primary">Info</a>
		</div>
		<div class="well">
			<p>ADS</p>
		</div>
		<div class="well">
			<p>ADS</p>
		</div>
	</div>
		</div>
</div>